# Dependency directories
node_modules
*/node_modules
*/*/node_modules
.pnpm-store

# Build outputs
dist
build
.next

# Database local files
*.db
*.db-journal
dev.db

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml