# Key configuration for discord bot.
CLIENT_ID=
CLIENT_SECRET=
TOKEN=
VERSION=1.0.0

PORT=3000

LOG_WITH_TIME=true
LOG_TIMEZONE=UTC

DATABASE_URL=file:dev.db

# Get your token from cloudflare's cloudflared.
TUNNEL_TOKEN=